<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Maintenance</title>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
<h1>Products</h1>
<table cellpadding="5">
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.code}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="'$' + ${product.price}"></td>
        <td>
            <button>
                <a th:href="@{'updateProduct?productCode=' + ${product.code}}">Edit</a>
            </button>

        </td>
        <td>
            <button>
                <a th:href="@{'deleteProduct?productCode=' + ${product.code}}">Delete</a>
            </button>

        </td>
    </tr>
</table>
<br>
<button><a th:href="@{/updateProduct}">Add product</a></button>
</body>
</html>